<!-- Wufoo -->

<!-- <iframe height="697" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://datene.wufoo.com/embed/zpul07i1iqdfbr/"><a href="https://datene.wufoo.com/forms/zpul07i1iqdfbr/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"><span class="notranslate">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</span></div> -->

<!-- Formspree -->


<% form_tag 'https://formspree.io/brussels@lewagon.org', class:"submission" do %>
<h2>
  Apply for Le Wagon by Night now!
</h2>
<div class="form-item">
  <div class="label-group">
    <i class="fa fa-user"></i>
    <%= label_tag :first_name %>
  </div>
  <%= text_field_tag :first_name, placeholder:"Alan" %>
</div>

<div class="form-item">
<div class="label-group">
<i class="fa fa-font"></i>
    <%= label_tag :last_name %>
  </div>
  <%= text_field_tag :last_name, placeholder:"Turing" %>
</div>

<div class="form-item">
  <div class="label-group">
  <i class="fa fa-calendar"></i>
    <%= label_tag :age %>
  </div>
  <%= number_field_tag :age, placeholder:"42" %>
</div>

<div class="form-item">
  <div class="label-group">
  <i class="fa fa-envelope"></i>
    <%= label_tag :email %>
  </div>
  <%= text_field_tag :email, placeholder:"alan@turing.com" %>
</div>

<div class="form-item">
  <div class="label-group">
  <i class="fa fa-mobile"></i>
    <%= label_tag :phone_number %>
  </div>
  <%= phone_field_tag :phone_number, placeholder:"+33612345678" %>
</div>

<div class="form-item">
  <div class="label-group">
  <i class="fa fa-comments"></i>
    <%= label_tag :referer %>
  </div>
  <%= text_area_tag :referer, placeholder: "Who recommended Le Wagon to you? Quora, Facebook, a friend (who?), etc." %>
</div>

<div class="form-item">
  <div class="label-group">
  <i class="fa fa-thumbs-o-up"></i>
    <%= label_tag :motivation %>
  </div>
  <%= text_area_tag :motivation, placeholder: "Why Le Wagon? What is your professional project?" %>
</div>

<div class="form-item">
  <div class="submit">
    <%= submit_tag :submit, value:"join now!", class:"btn-submit" %>
  </div>
</div>

<% end %>