---
title: Le Wagon by Night
---

<%= partial 'header' %>

<div class="background-white" id="description">
  <%= partial 'description' %>
  <div class="divider"></div>
  <%= partial 'practical' %>
  <div class="divider"></div>
  <%= partial 'schedule' %>
  <div class="divider"></div>
  <div id="apply">
    <%= partial 'form' %>
  </div>
</div>

<div class="filler"></div>

<div>
  <%= partial 'footer' %>
</div>
