---
title: Le Wagon by Night
---

<%= partial 'header' %>

<div class="background-white" id="description">
  <%= partial 'description' %>
</div>

<div class="filler"></div>

<div class="background-white">
  <%= partial 'practical' %>
</div>

<div class="filler"></div>

<div class="background-white">
  <%= partial 'schedule' %>
</div>

<div class="filler"></div>

<div class="background-white" id="apply">
  <%= partial 'form' %>
</div>

<div class="filler"></div>

<div class="background-white">
  <%= partial 'footer' %>
</div>